<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Hack Movies</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >My Bookmark</a
              >
            </li>
          </ul>
          <div class="d-flex" style="padding-left: 1vh">
            <button class="btn btn-outline-primary">Login</button>
          </div>
          <div class="d-flex" style="padding-left: 1vh">
            <button class="btn btn-outline-danger">Logout</button>
          </div>
        </div>
      </div>
    </nav>

    <!--LOGIN-->
    <div id="login-form" class="wrap">
      <div class="container">
        <center>
          <div
            class="card shadow"
            style="
              background-color: rgba(233, 233, 233, 0.973);
              width: 30rem;
              padding-top: 10vh;
              padding-bottom: 10vh;
              margin-top: 10%;
            "
          >
            <div class="justify-content-center">
              <div class="col-sm-6">
                <h4 class="card-title" style="padding-bottom: 40px">
                  Login Page
                </h4>

                <form>
                  <div class="mb-3">
                    <label for="inputEmail" class="form-label"
                      >Email address</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      aria-describedby="emailHelp"
                      name="inputEmail"
                      placeholder="email address"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="inputPassword" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="inputPassword"
                      placeholder="password"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <p>Don't have an account yet?</p>
                  <a href="/register" id="sign-up">Signup</a>
                  <p>or login with</p>
                  <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </form>
              </div>
            </div>
          </div>
        </center>
      </div>
    </div>

    <!--REGISTER-->
    <div id="register-form" class="wrap">
      <div class="container">
        <center>
          <div
            class="card shadow"
            style="
              background-color: rgba(233, 233, 233, 0.973);
              width: 30rem;
              padding-top: 5vh;
              padding-bottom: 8vh;
              margin-top: 5%;
            "
          >
            <div class="justify-content-center">
              <div class="col-sm-6">
                <h4 class="card-title" style="padding-bottom: 30px">
                  Register
                </h4>

                <form>
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      name="username"
                      placeholder="Username"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="synopsis" class="form-label"
                      >Email Address</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="regisEmail"
                      name="regisEmail"
                      placeholder="Email Address"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="regisPassword" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="regisPassword"
                      name="regisPassword"
                      placeholder="Password"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input
                      type="text"
                      class="form-control"
                      id="address"
                      name="address"
                      placeholder="Address"
                    />
                  </div>
                  <div class="mb-3" style="padding-bottom: 1vh">
                    <label for="phoneNumber" class="form-label"
                      >Phone Number</label
                    >
                    <input
                      type="text"
                      class="flex"
                      id="phoneNumber"
                      name="phoneNumber"
                      placeholder="Phone Number"
                    />
                  </div>
                  <button id="btn-back-register" class="btn btn-primary">
                    Back
                  </button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </center>
      </div>
    </div>

    <!-- HOMEPAGE -->

    <div class="container">
      <div class="row" style="margin-top: 5%">
        <div class="col-3" style="margin-top: 17px">
          <div class="box" style="background-color: rgba(233, 233, 233, 0.973)">
            <form>
              <div class="search">
                <label for="searchTitle" style="margin-bottom: 5%"
                  ><b>Search By Title</b></label
                >
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  style="margin-bottom: 10%"
                />
              </div>
              <div class="genre">
                <label for="genre" style="margin-bottom: 5%"
                  ><b>Search by genre</b></label
                >
                <div class="form-check" style="margin-bottom: 10%">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Horror"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Horror
                  </label>
                </div>
                <div class="form-check" style="margin-bottom: 10%">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Comedy"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Comedy
                  </label>
                </div>
                <div class="form-check" style="margin-bottom: 10%">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Thriller"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Thriller
                  </label>
                </div>
                <div class="form-check" style="margin-bottom: 10%">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Action"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Action
                  </label>
                </div>
                <div class="form-check" style="margin-bottom: 10%">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Fantasy"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Fantasy
                  </label>
                </div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col">
              <div
                class="card"
                style="
                  width: 18rem;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  margin-top: 5%;
                "
              >
                <img
                  src="https://ik.imagekit.io/im4g3upl0ad/spiderman_8Z6uBtm0F.jpeg?updatedAt=1636470203478"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <label
                    for="genre"
                    style="background-color: rgba(233, 233, 233, 0.973)"
                    >Genre
                  </label>
                  <br />
                  <label for="title"><b>Title</b></label>
                  <p class="card-text">synopsis</p>
                  <label for="trailer">Trailer: trailer</label>
                  <br />
                  <label for="rating">Rating: rating</label>
                  <div style="padding-top: 5%">
                    <button type="button" class="btn btn-primary">
                      Details
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div
                class="card"
                style="
                  width: 18rem;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  margin-top: 5%;
                "
              >
                <img
                  src="https://ik.imagekit.io/im4g3upl0ad/spiderman_8Z6uBtm0F.jpeg?updatedAt=1636470203478"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <label
                    for="genre"
                    style="background-color: rgba(233, 233, 233, 0.973)"
                    >Genre
                  </label>
                  <br />
                  <label for="title"><b>Title</b></label>
                  <p class="card-text">synopsis</p>
                  <label for="trailer">Trailer: trailer</label>
                  <br />
                  <label for="rating">Rating: rating</label>
                  <div style="padding-top: 5%">
                    <button type="button" class="btn btn-primary">
                      Details
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div
                class="card"
                style="
                  width: 18rem;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  margin-top: 5%;
                "
              >
                <img
                  src="https://ik.imagekit.io/im4g3upl0ad/spiderman_8Z6uBtm0F.jpeg?updatedAt=1636470203478"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <label
                    for="genre"
                    style="background-color: rgba(233, 233, 233, 0.973)"
                    >Genre
                  </label>
                  <br />
                  <label for="title"><b>Title</b></label>
                  <p class="card-text">synopsis</p>
                  <label for="trailer">Trailer: trailer</label>
                  <br />
                  <label for="rating">Rating: rating</label>
                  <div style="padding-top: 5%">
                    <button type="button" class="btn btn-primary">
                      Details
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div
                class="card"
                style="
                  width: 18rem;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  margin-top: 5%;
                "
              >
                <img
                  src="https://ik.imagekit.io/im4g3upl0ad/spiderman_8Z6uBtm0F.jpeg?updatedAt=1636470203478"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <label
                    for="genre"
                    style="background-color: rgba(233, 233, 233, 0.973)"
                    >Genre
                  </label>
                  <br />
                  <label for="title"><b>Title</b></label>
                  <p class="card-text">synopsis</p>
                  <label for="trailer">Trailer: trailer</label>
                  <br />
                  <label for="rating">Rating: rating</label>
                  <div style="padding-top: 5%">
                    <button type="button" class="btn btn-primary">
                      Details
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOKMARK -->
    <div class="container">
      <h1 style="margin-top: 10%">Cart List</h1>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Shoes Picture</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td style="width: 50%">
              <img
                class="image-src"
                src="https://images.tokopedia.net/img/cache/500-square/VqbcmM/2020/10/29/586e6864-e017-49e7-8b1a-078fa595be41.jpg"
                style="height: 30%; width: 30%"
              />
            </td>
            <td>VANS</td>
            <td>Rp.650000</td>
            <td><button class="btn btn-outline-danger">Delete Cart</button></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total Price:</td>
            <td>
              <button type="button" class="btn btn-outline-primary">
                Buy Now!
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Movie By Id -->
    <div class="container" style="margin-top: 10%">
      <div id="image">
        <div class="row">
          <div class="col-5">
            <img
              src="https://ik.imagekit.io/im4g3upl0ad/spiderman_8Z6uBtm0F.jpeg?updatedAt=1636470203478"
              class="card-img-top"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card-body">
          <div class="row" style="background-color: white">
            <div class="col-9">
              <label
                for="genre"
                style="background-color: rgba(233, 233, 233, 0.973)"
                >Genre
              </label>
              <br />
              <br />
              <label for="rating">Rating: rating</label>
            </div>
            <div class="col-3">
              <h4><b>Buy Ticket</b></h4>
              <button type="button" class="btn btn-secondary">Secondary</button>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin-bottom: 7%" />

      <div id="isi">
        <div class="row">
          <div class="col-9">
            <label for="title"><b>Title</b></label>
            <p class="card-text">synopsis</p>
            <label for="trailer">Trailer: trailer</label>
          </div>
          <div class="col-3">
            <!-- QRCODE -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
